<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharepost</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div  class="w-full bg-[#101357]  min-h-screen flex flex-col gap-5 p-10 justify-center items-center ">
        <h1 class="text-3xl text-white">User already Exists 🤭 </h1>
        <a href="/login"
        class="px-5 py-2.5 rounded-lg text-white text-sm tracking-wider font-medium  border-current outline-none bg-purple-700 hover:bg-purple-800 active:bg-purple-700">Login</a>

    </div>
    
    
</body>
</html>